.image-profile {
  width: 100%;
}

.image-bg {
  background-image: url("https://uc0cdf3b9e140f59c550c3eb868c.previews.dropboxusercontent.com/p/thumb/AAuFDdNFUmR7kM9pJIlCN6GhZyIvCeN4KaPt6cPuhy6TLIvkD808_AS7_kerG2oeJzYVBEhb4W3ZeIjaLjJzuU2ZHETkHAUIiVJMkZWMa2xB1qWQLmcECPxsQLs_WA4svq6LvVSCoG-VdacLZ5DyCN1yhnQ1jhylXdF5HSTR7Eh2D_fczl4V5I4Hy7oAY37zftYvy54mxK-CUXT8HvMcJbS1lv2Vqn-JrHdE80PjQEsd6nFRXZAt4GDfPnG27_LDZ_rvh87IUlnkr8WRqQ_Y2lYsFUFnUUVe9HpQCDkePIbdGTSi1T88wNxZN9fqPHnGWpZM8XyraJfuJrqg1iVeNBaAEfwaDwey0E6Ht4nVcLdCw9EgCP6Gk12MZeb34Ti4GtJE4dQ1CmmzNSaKEdeWcfh3/p.jpeg?fv_content=true&size_mode=5");
  width: 100%;
}
