<div class="bg-green">
  <div class="row">
    <div class="six columns left-side">
      <app-navbar></app-navbar>
      <div class="container mr-3">
        <h1 class="text-yellow">
          Hey I'm <br />
          <span class="text-white text-big title-bold"
            >Freddy <br />
            Munive</span
          >
        </h1>
        <p class=" text-white">web developer / cooker / gamer</p>
      </div>
    </div>
    <div class="six columns right-side image-bg"></div>
  </div>
</div>
